.loginsignup{
    width: 100%;
    height: 80vh;
    background: rgb(141, 164, 236);
    padding-top: 100px;
}
.loginsignup-container{
    width: 580px;
    height: 600px;
    background: rgb(247, 247, 247);
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1{
    margin: 20px 0px;
}

.loginsign-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px;
}

.loginsign-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid grey;
    outline: none;
    color: green;
    font-size: 18px;
}
.loginsignup-container button{
    width: 580px;
    height: 72px;
    color: white;
    background: red;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500px;
    cursor: pointer;
}

.loginsignup-login{
    margin-top: 20px;
    color: grey;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span{
    color: red;
    font-weight: 600;
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: grey;
    font-size: 18px;
    font-weight: 500;
}



